<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="majada.marcos.gestordetareas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NuevaTarea"></activity>
        <activity android:name=".Fila"></activity>
        <activity android:name=".Calendario"></activity>
        <activity android:name=".Hora"></activity>
        <activity android:name=".ModificacionTarea"></activity>
        <activity android:name=".EliminacionTarea"></activity>
    </application>

</manifest>